.container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.216);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container>form{
    width: 40%;
    border-radius: 20px;
    position: relative;
    border: solid 1px rgb(65, 65, 65);
}

.form-group{
    width: 100%;
}

.close{
    position: absolute;
    top: .8rem;
    right: .8rem;
    cursor: pointer;
}